---
import Logo from "../react/header/logo"
import CtaButtons from "../react/header/ctaButtons"
import { NavList } from "../react/header/navList"
import "@/styles/globals.css"
---

<header class="text-white">
  <nav
    class="flex justify-between items-center px-10 lg:px-24 font-poppins shadow-md h-20 bg-[#002C6E] z-50"
  >
    <Logo />
    <NavList client:load />
    <CtaButtons client:load />
  </nav>
</header>
