---
import SectionZero from "../react/sections/sectionZero"
import SectionOne from "../react/sections/sectionOne"
import SectionTwo from "../react/sections/sectionTwo"
import SectionThree from "../react/sections/sectionThree"
import SectionFour from "../react/sections/sectionFour"
import SectionFive from "../react/sections/sectionFive"
import SectionSix from "../react/sections/sectionSix"
---

<main class="">
  <SectionOne />
  <SectionZero />
  <SectionTwo />
  <SectionThree />
  <SectionFour client:load />
  <SectionFive client:idle />
  <SectionSix />
</main>
