---
import SectionZero from "../react/sections/sectionZero"
import SectionOne from "../react/sections/sectionOne"
import SectionTwo from "../react/sections/sectionTwo"
import SectionThree from "../react/sections/sectionThree"
import SectionFour from "../react/sections/sectionFour"
import SectionFive from "../react/sections/sectionFive"
import SectionSix from "../react/sections/sectionSix"
---

<main class="relative">
  <img
    class="absolute top-64 left-0 z-[-1] hidden md:block w-full"
    src="/images/section/section-1/background.svg"
    alt="background image"
  />
  <img
    class="absolute top-64 left-0 z-[-1] block md:hidden w-full"
    src="/images/section/section-1/background-sm.svg"
    alt="background image"
  />
  <SectionOne />
  <SectionZero />
  <SectionTwo client:load />
  <SectionThree />
  <SectionFour client:load />
  <SectionFive client:idle />
  <SectionSix />
</main>
