---
import SectionOne from "../react/sections/sectionOne"
import SectionTwo from "../react/sections/sectionTwo"
import SectionThree from "../react/sections/sectionThree"
import SectionFour from "../react/sections/sectionFour"
---

<main class="mx-auto md:mx-10">
  <SectionOne />
  <SectionTwo />
  <SectionThree />
  <SectionFour client:visible />
</main>
