---
const pageTitle = "Home Page"
import Header from "../components/astro/header.astro"
import Main from "../components/astro/main.astro"
import Footer from "../components/astro/footer.astro"
import "@/styles/globals.css"
---

<html class="scroll-smooth" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="min-h-screen">
    <Header />
    <Main />
    <Footer />
  </body>
</html>
