---
import BaseLayout from "../layouts/baseLayout.astro"
const pageTitle = "First Home Page"
---

<BaseLayout pageTitle={pageTitle}>
  <Fragment slot="body">
    <h2>My awesome blog subtitle</h2>
  </Fragment>
</BaseLayout>
